*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(174, 228, 174);
}

.border{
    width: 750px;
    height: 700px;
    margin-left: 300px;
    border-radius: 5%;
    border: 6px solid green;
    background-color: white;
}
.header{
    border-radius: 25px;
    height: 80px;
    background: rgb(231, 212, 42);
    background: linear-gradient( rgb(243, 150, 1) 0%, rgb(243, 243, 240) 100%);
}
.header h1{
    font-size: 30px;
    padding-left: 20px;
}
.header p{
    font-size: 20px;
    padding-left: 20px;
}
.nav{
    height: 40px;
    border: 2px solid red;
    background-color: rgb(243, 150, 1);
}
.nav li{
    float: left;
    list-style: none;
    margin-right: 1%;
    padding-left: 4%;
    margin-top: 7px;
   
}
.nav li a{
    text-decoration: none;
    font-size: 23px;
}
.content{
    background-color: white;
}
.clear{
    clear: both;
}
.content1 h3{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
}
.content1 p{
    font-size: 20px;
    text-align: justify;
    text-indent: 20px;
}
.content2 h3{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
}
.content2 p{
    font-size: 20px;
    text-align: justify;
    text-indent: 20px;
}
.content3 h3{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
}
.content3 p{
    font-size: 18px;
    text-align: justify;
    text-indent: 20px;
}